src/web2py/applications/*/.bzr
src/web2py/applications/*/.bzrignore
src/web2py/applications/*/cache/*
src/web2py/applications/*/compiled/*
src/web2py/applications/*/databases/*
src/web2py/applications/*/errors/*
src/web2py/applications/*/indices/*
#src/web2py/applications/*/models/000_config.py
#src/web2py/applications/*/models/0000_update_check.py
src/web2py/applications/*/sessions/*
src/web2py/applications/*/uploads/*
src/web2py/applications/*/static/cache/*
src/web2py/applications/*/static/fonts/unifont.ttf
src/web2py/applications/*/static/scripts/tools/compiler.jar
src/web2py/applications/*/tests/unit/*.pdf
.DS_Store
src/web2py/applications/*/languages/*.po
.~lock.*.csv#
*.log
*.pyc
*.~*~
*.directory
*.pythonhistory
*.idea
*.sass-cache
src/web2py/applications/*/yaml/*
data/*
*outfile*
*.*~
