    <script src="/eden/static/scripts/bootstrap.js"></script>
    {{include "scripts.html"}}
    {{include "foundation.js.html"}}
    <script src="/eden/static/scripts/S3/s3.pivotTables.min.js"></script>
    <script src="/eden/static/scripts/ext/adapter/jquery/ext-jquery-adapter.js"></script>
    <script src="/eden/static/scripts/ext/ext-all.js"></script>
    <script src="/eden/static/scripts/ext/src/locale/ext-lang-en.js"></script>
    <script src="/eden/static/scripts/underscore-min.js"></script>
    <script src="/eden/static/scripts/S3/s3.gis.loader.min.js"></script>
    <script src="/eden/static/scripts/S3/s3.dataLists.min.js"></script>
  </body>
</html>
