<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quick Response Host</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/eden/static/styles/bootstrap/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="#">Quick Response Host</a>
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Volunteers</a></li>
          <li><a href="#">Equipment</a></li>
          <li><a href="#">Warehouses</a></li>
        </ul>
      </div>
    </nav>

