{{ include "quickresponse/qrhheader.html" }}
    <div class="container-fluid">
      <div class="col-md-6">
          <button type="button" class="btn btn-default btn-block btn-lg main-btn" style="height: 300px; margin-bottom: 9px">First Aid</button>
      </div>
      <div class="col-md-6">
          <button type="button" class="btn btn-default btn-block btn-lg main-btn" style="height: 300px; margin-bottom: 9px">Team Leader</button>
      </div>
    </div>

    <div class="container-fluid">
      <div class="col-md-6">
          <button type="button" class="btn btn-default btn-block btn-lg main-btn" style="height: 300px; margin-bottom: 9px">Tech Support</button>
      </div>
      <div class="col-md-6">
          <button type="button" class="btn btn-default btn-block btn-lg main-btn" style="height: 300px; margin-bottom: 9px">General Volunteer</button>
      </div>
    </div>

   {{ include "quickresponse/qrhfooter.html" }}
