{{ include "quickresponse/qrhheader.html" }}
{{=link1}}
    <div class="container-fluid">
      <div class="col-md-6">
          <button type="button" class="btn btn-default btn-block btn-lg main-btn" style="height: 300px; margin-bottom: 9px">{{=task1}}</button>
      </div>
      <div class="col-md-6">
          <button type="button" class="btn btn-default btn-block btn-lg main-btn" style="height: 300px; margin-bottom: 9px">{{=task2}}</button>
      </div>
    </div>

    <div class="container-fluid">
      <div class="col-md-6">
          <button type="button" class="btn btn-default btn-block btn-lg main-btn" style="height: 300px; margin-bottom: 9px">{{=task3}}</button>
      </div>
      <div class="col-md-6">
          <button type="button" class="btn btn-default btn-block btn-lg main-btn" style="height: 300px; margin-bottom: 9px">{{=task4}}</button>
      </div>
    </div>

   {{ include "quickresponse/qrhfooter.html" }}
